.about {
  margin: 0px 18% 200px 18%;
  /* min-height: 100vh; */
}

.about__heading {
  margin-top: 240px;
  padding-top: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 40px;
}
.about__description-container {
  display: flex;
  align-items: center;
  gap: 100px;
}
.about__paragraph {
  line-height: 30px;
  font-size: 20px;
  max-width: 600px;
}
.about__images {
  position: relative;
  top: 250px;
}
.about-image-relative {
  position: relative;
  top: 20;
  bottom: 20;
}
.about__author-image {
  width: 280px;
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.026);
  position: absolute;
  bottom: 75px;
  left: 106px;
  z-index: 1;
}
.about__author-animated {
  width: 500px;
  position: absolute;
  bottom: 10px;
  left: 0;

  /* animation */
  animation: spin 16s linear infinite;
}

.about__author-dark-animated {
  width: 500px;
  position: absolute;
  bottom: -20px;
  left: 10px;

  /* animation */
  animation: spin 16s linear infinite;
}

.about-image-hidden {
  display: none;
}
.about__stack-containers {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  gap: 16px;
}

.about__stack-logo {
  width: 80px;
}
.about__stack-logo:hover {
  animation: bounce 0.6s ease-in-out;
  cursor: pointer;
}
.about-react-logo {
  height: 76.9px;
  width: 100%;
}
.about-paragraph-react {
  position: relative;
  bottom: 5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translatY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}
