.about {
  margin: 280px 18% 0% 18%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about__heading {
  font-weight: 500;
  margin-bottom: 70px;
  font-size: 40px;
}
.about__paragraph {
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
  max-width: 650px;
}
.header__author-image {
  width: 25%;
  height: 100%;
  border: 4px solid rgb(255, 225, 225);
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.026);
}
