@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header {
}

.header__text-content {
  margin: 200px 18% 0% 18%;
}
.header__title {
  font-size: 35px;
  font-weight: 400;
  color: rgb(216, 124, 119);
}

.header__subheading {
  font-weight: 400;
  font-size: 30px;
}
.header__intro-summary {
  font-size: 70px;
  font-weight: 600;
  line-height: 88px;
  margin: 0;
}
.header__intro {
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
  max-width: 650px;
  font-weight: 400;
}
.header__bold-text {
  font-weight: 600;
}
.header__button {
  padding: 16px 35px;
  margin-top: 20px;
  font-size: 18px;
  color: white;
  background-color: rgb(216, 124, 119);
  border: 2px solid rgb(216, 124, 119);
  border-radius: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.183);
}
