.nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.nav__logo {
  width: 80px;
  height: 100%;
  margin-left: 8%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav__sections {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  gap: 20px;
  margin-right: 8%;
}
.nav__sections li {
  margin-right: 25px;
}
.nav__sections li:nth-child(4) {
  margin-right: 5px;
}
.nav__sections li::marker {
  color: rgb(216, 124, 119);
}
.nav__sections a {
  text-decoration: none;
  color: rgb(42, 42, 42);
}
.nav__sections a:hover {
  text-decoration: none;
  color: rgb(216, 124, 119);
}

.nav__icon {
  width: 25px;
}
