.page {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 250, 250);
  color: rgb(42, 42, 42);
  margin: 0;
  background-image: none;
}
.page a {
  color: rgb(42, 42, 42);
}
.page p {
  font-weight: 400px;
}
.page .nav__sections a:hover {
  color: rgb(216, 124, 119);
}

.page li::marker {
  color: rgb(216, 124, 119);
}
.page h1 {
  color: rgb(216, 124, 119);
}
.page h2 {
  color: rgb(216, 124, 119);
}
.page button {
  color: white;
  background-color: rgb(216, 124, 119);
  border: 2px solid rgb(216, 124, 119);
}

.page .about__author-image {
  border: 4px solid rgb(255, 225, 225);
}

.page-dark-mode {
  background: url("../images//iStock-1065181392.jpg") rgba(0, 0, 40, 0.8);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.page-dark-mode a {
  color: white;
}

.page-dark-mode li::marker {
  color: rgb(96, 143, 198);
}
.page-dark-mode h1 {
  color: rgb(96, 143, 198);
}

.page-dark-mode h2 {
  color: rgb(96, 143, 198);
}

.page-dark-mode button {
  color: white;
  background-color: rgb(96, 143, 198);
  border: 2px solid rgb(96, 143, 198);
}

.page-dark-mode .about__author-image {
  border: 4px solid rgb(96, 143, 198);
}

.page-dark-mode .nav__sections a:hover {
  color: rgb(96, 143, 198);
}

.smoothScroll {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.smoothScroll.active {
  transform: translateY(0);
  opacity: 1;
}
