@import url("../vendor/fonts.css");
@import url("../blocks/switch.css");
@import url("../blocks/headernav.css");
@import url("../blocks/header.css");
@import url("../blocks/about.css");

.page {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 250, 250);
  color: rgb(42, 42, 42);
  margin: 0;
}
